@import "../../../../css/partials/base";

$media-size-small: "(max-width : 736px)";
$media-size-medium: "(max-width : 980px)";
$color-highlight: #dbdbde;

@mixin media-small {
	@media all and (#{$media-size-small})  {
		@content;
	}
}

@mixin media-medium-or-print {
	@media all and (#{$media-size-medium}), print  {
		@content;
	}
}

#navigation_wizard_wrapper .wizard-step {

	.wizard-card {
		flex: 1;
		padding: 1rem;
		border-radius: 2px;
		background-color: $panel-background-color;
		box-shadow: 0px 1px 4px 0px rgba($shark2, 0.24);
		display: flex;
		flex-direction: column;

		.card-section {
			margin-bottom: 1rem;
			flex: 0 0 initial;

			&.title {
				line-height: 1rem;
				font-size: 1rem;
				font-weight: normal;
				color: $woodsmoke;
			}

			&.description {
				flex: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.app-add .wizard-card {
		box-shadow: none;
	}

	.app-icon {
		flex: 0 0 initial;
		width: 2rem;
		height: 2rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 0.5rem;

		&.app-icon-empty {
			background-color:$midgray;
		}
	}

	.app-name {
		flex: 1;
		padding: 0 0.75rem;
		line-height: 2rem;
		vertical-align: middle;
	}

	.admin-user-item {
		padding-top: 1.5rem;
		border-top: 1px solid $french-gray2;
		opacity: 1;
		transition: opacity 400ms ease-in-out;

		&:first-child {
			padding-top: 0;
			border-top: none;
		}

		&.remove {
			opacity: 0;
		}

		.admin-user-correlative {
			display: inline-block;
			min-width: 1rem;
		}

		.admin-user-remove {
			margin-left: 0.5rem;
			color: $font-primary-color;
			cursor: pointer;

			&:hover {
				color: $danger-color;
			}

			.iconography-medium {
				margin-top: -3px;
			}
		}

		.admin-user-title {
			padding-bottom: 1rem;
			line-height: 14px;
			font-weight: bold;
			color: $woodsmoke;
		}
	}

	&#step_service_plan {

		#form_service_plan{
			margin-bottom: 0.5rem;

			.service-plan-item {
				transition: opacity 200ms ease-in-out;

				&.remove {
					opacity: 0;
				}

				.input-field-container {
					display: flex;
					padding-bottom: 1rem;

					.chosen-container {
						flex: 1;
					}

					.service-plan-remove {
						flex: initial;
						width: 38px;
						height: 38px;
						padding: 0;
						margin-left: 0.5rem;

						.iconography-medium {
							margin-left: -6px;
							margin-top: -3px;
						}

						&:hover:not([disabled]) {
							color: $danger-color;
						}
					}
				}
			}
		}

		.row-service-plan-add {
			line-height: 14px;
			height: 1rem;
			margin-bottom: 1.75rem;

			.service-plan-add.disabled {
				color: $midgray2;
				cursor: default;
			}

			.iconography-medium {
				margin-right: 0.25rem;
				margin-top: -3px;
			}
		}

		#service_plan_aggregate {
			margin-top: 0.25rem;
		}
	}

	&#step_credit_balance_and_features {
		ul.features {
			margin-left: 0;
			list-style: none;

			li {
				&.feature-category {
					color: $woodsmoke;
					font-weight: 600;
					line-height: 14px;
					padding-bottom: 0.75rem;
					padding-top: 1.5rem;
					padding-left: 1rem;

					&:first-child {
						padding-top: 1rem;
					}
				}

				&.feature-item {
					position: relative;
					box-sizing: border-box;

					.feature-item-link {
						display: block;
						height: 2.5rem;
						padding-left: 1rem;
						line-height: 2.5rem;
						color: $woodsmoke;

						&:hover {
							background-color: $color-highlight;

							& + .monster-panel-text {
								display: block;
								opacity: 1;
							}
						}
					}

					.feature-icon {
						margin-left: 38px;
						margin-top: -3px;
						color: $midgray2;
					}

					.monster-checkbox {
						display: block;
						margin-bottom: 0;
						line-height: 2.5rem;

						i {
							margin-top: 10px;
						}

						span {
							margin-left: 0.75rem;
							padding-left: 0;
						}
					}

					.monster-panel-text {
						position: absolute;
						left: 130%;
						top: 0;
						width: 130%;
						opacity: 0;
						transition: opacity 0.25s ease-in-out;
						z-index: 10;
					}

					@include media-medium-or-print {
						.monster-panel-text {
							display: none;
							left: 0;
							top: 3rem;
							width: 200%;
						}
					}

					@include media-small {
						.monster-panel-text {
							width: 100%;
						}
					}
				}

				ul.features > li .feature-item-link {
					margin-left: 2.5rem;
				}
			}
		}
	}

	&#step_app_restrictions {
		.monster-panel-text {
			margin-left: 20%;
			width: auto;

			@include media-medium-or-print {
				margin-left: 0;
			}
		}

		#section_allowed_apps {
			.section-body {
				transition: all 0.5s linear 0s;
			}

			.app-list {
				position: relative;

				.flex-item-3.app-item {
					min-height: 120px;
					transform-origin: top left;
					transition: all 0.4s linear 0s;

					&:not(.visible) {
						position: absolute;

						.wizard-card {
							opacity: 0;
						}
					}

					.wizard-card {
						transition: all 0.4s linear, background-color 0s;

						&:hover .app-remove {
							color: $midgray2;
						}

						.app-remove {
							flex: 0 0 initial;
							width: 1rem;
							height: 1rem;
							margin-bottom: 0;
							line-height: 16px;
							color: $french-gray2;
							cursor: pointer;

							&:hover {
								color: $danger-color;
							}
						}

						.card-section.description {
							line-height: 21px;
						}
					}

					&.app-add .wizard-card {
						background: #dbdbde;
						cursor: pointer;

						&:hover {
							background: $french-gray2;
						}

						.card-section.description.flex-container {
							justify-content: center;
							align-items: center;
						}

						a {
							color: $shark2;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	&#step_review {
		[class^="field-value-"],
		[class*=" field-value-"] {
			color: $woodsmoke;
			font-weight: 600;

			.iconography-medium {
				margin-right: 0.5rem;
			}
		}

		.field-label-horizontal, .field-value-horizontal {
			margin-top: -0.25rem;
			margin-bottom: 0.25rem;
			padding-bottom: 1rem;
			line-height: 21px;
		}

		.field-label-horizontal {
			color: $woodsmoke;
			letter-spacing: 0px;
		}

		.field-label-info {
			@extend .field-label-horizontal;
			font-style: italic;
			font-size: 12px;
		}

		.field-value-horizontal .flex-row-container:last-child {
			margin-bottom: -1.5rem;
		}

		.field-label-vertical {
			margin-bottom: 0.5rem;
			line-height: 0.75rem;
			font-size: 0.75rem;
			color: $midgray2;
		}

		.field-value-vertical {
			min-height: 1rem;
			line-height: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.service-items-listing.monster-table tbody td:not(.category-cell) {
			font-weight: normal;
		}

		.field-group-column {
			width: 43.75%;

			.column-title {
				color: $woodsmoke;
				font-size: 14px;
				font-weight: 600;
				line-height: 14px;
				padding-bottom: 1.5rem;
			}

			.field-label-horizontal {
				width: 57.1429%;

				.iconography-text-right {
					margin-left: 0.75rem;
				}
			}

			.field-value-horizontal {
				flex: 1;
				width: auto;
			}


			@include media-medium-or-print() {
				.field-label-horizontal {
					width: 66.67%;
				}
				.field-value-horizontal {
					width: 33.33%;

					.iconography-text {
						display: none;
					}
				}
			}
		}

		@include media-medium-or-print {
			.field-value-horizontal:not(.field-value-multiple) {
				width: 50%;
			}
		}

		@include media-small {
			.field-group-column {
				width: 100%;
			}
		}

		.password-field {
			display: flex;
			flex-wrap: nowrap;

			.password-value {
				flex: 0 1 auto;
				height: 0.875rem;
				margin-right: 0.5rem;
				overflow: hidden;
				text-overflow: ellipsis;

				.password-mask {
					display: none;
					font-size: 1rem;
				}

				&.password-hidden {
					margin-top: -1px;

					.password-text {
						display: none;
					}

					.password-mask {
						display: inline;
					}
				}
			}

			.password-toggle-label {
				flex: 0 0;
				margin-top: 1px;
				line-height: 0.875rem;
				font-size: 0.75rem;
			}

			.password-toggle {
				display: none;

				&:checked {
					& ~ .password-hide {
						display: inline;
					}
					& ~ .password-show {
						display: none;
					}
				}
			}

			.password-hide {
				display: none;
			}
		}

		.app-list .app-item {
			padding-bottom: 1rem;

			.app-icon {
				padding: 0;
			}

			.app-name {
				flex: 1;
				padding-bottom: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		#service_plan_aggregate {
			margin-left: auto;
		}

		@media print {
			padding: 0;

			.edit-step,
			.monster-button,
			.password-toggle-label,
			.password-text,
			.app-list .app-item .app-icon {
				display: none;
			}

			.password-field .password-value .password-mask {
				display: inline;
			}

			.print-nobreak {
				page-break-inside: avoid;
			}

			// Some elements that use display:flex might be truncated on page breaks in Firefox.
			// This class sets them to display:block to avoid that behavior on print.
			// See https://stackoverflow.com/a/45440750/806975
			.print-block {
				display: block;
			}
		}
	}
}
