<div class="restrictions-tab-container clearfix">
	<legend>
		{{ i18n.uiRestrictionsLegend }}
		<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ i18n.uiRestrictionsTooltip }}"></i>
	</legend>
	<div class="restrictions-menu">
		<ul class="nav">
			<li class="nav-header">{{ i18n.uiRestrictionsMenu.settings }}</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.user}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.user.show_tab" {{#compare ui_restrictions.user.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.account}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.account.show_tab"{{#compare ui_restrictions.account.show_tab '!==' false }} checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="nav-header">{{ i18n.uiRestrictionsMenu.billing }}</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.creditCard}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.billing.show_tab"{{#compare ui_restrictions.billing.show_tab '!==' false }} checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="restrictions-element" data-content="restrictions-balance">
				<a href="javascript:void(0);">
					{{#monsterCheckbox i18n.uiRestrictionsMenu.perMinute}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.balance.show_tab" {{#compare ui_restrictions.balance.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
					<i class="fa fa-caret-right pull-right"></i>
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.servicePlan}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.service_plan.show_tab" {{#compare ui_restrictions.service_plan.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.transactions}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.transactions.show_tab" {{#compare ui_restrictions.transactions.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="nav-header">{{ i18n.uiRestrictionsMenu.trunking }}</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.inbound}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.inbound.show_tab" {{#compare ui_restrictions.inbound.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.outbound}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.outbound.show_tab" {{#compare ui_restrictions.outbound.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.twoway}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.twoway.show_tab" {{#compare ui_restrictions.twoway.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
			<li class="nav-header">{{ i18n.uiRestrictionsMenu.misc }}</li>
			<li class="restrictions-element">
				<a>
					{{#monsterCheckbox i18n.uiRestrictionsMenu.errorTracker}}
						<input type="checkbox" name="account.ui_restrictions.myaccount.errorTracker.show_tab" {{#compare ui_restrictions.errorTracker.show_tab '!==' false }}checked{{/compare}}>
					{{/monsterCheckbox}}
				</a>
			</li>
		</ul>
	</div>
	<div class="restrictions-right">
		<div class="restrictions-balance container-fluid" data-content="restrictions-balance">
			<legend>{{ i18n.uiRestrictionsExtraSettings.perMinute.legend }}</legend>
			<label class="checkbox">
				{{#monsterCheckbox i18n.uiRestrictionsExtraSettings.perMinute.showCreditInfo}}
					<input type="checkbox" name="account.ui_restrictions.myaccount.balance.show_credit" {{#compare ui_restrictions.balance.show_credit '!==' false }}checked{{/compare}}>
				{{/monsterCheckbox}}
			</label>
			<label class="checkbox">
				{{#monsterCheckbox i18n.uiRestrictionsExtraSettings.perMinute.showMinutesInfo}}
					<input type="checkbox" name="account.ui_restrictions.myaccount.balance.show_minutes" {{#compare ui_restrictions.balance.show_minutes '!==' false }}checked{{/compare}}>
				{{/monsterCheckbox}}
			</label>
		</div>
	</div>
</div>