{{#*inline "textFieldPartial"}}
	<div class="span6">
	{{#with (lookupPath @root.i18n.accountsApp.wizard.steps.generalSettings.accountAdmins name @root.i18n) as |fieldI18n|}}
		<label for="{{../name}}">{{coalesce fieldI18n.label ../name}}</label>
		<input class="input-block-level" type="{{#if ../type}}{{../type}}{{else}}text{{/if}}" name="accountAdmins[{{../index}}].{{../name}}" id="accountAdmins[{{../index}}].{{../name}}"{{#if (coalesce fieldI18n.placeholder fieldI18n.label)}} placeholder="{{coalesce fieldI18n.placeholder fieldI18n.label}}"{{/if}} required value="{{#if ../value}}{{../value}}{{else}}{{lookupPath @root.data ../name}}{{/if}}">
	{{/with}}
	</div>
{{/inline}}

<div class="admin-user-item">
	<div class="admin-user-title">
		<span>{{i18n.accountsApp.wizard.steps.generalSettings.accountAdmins.adminLabel}}</span> <span class="admin-user-correlative">{{correlative}}</span>
		<a class="admin-user-remove pull-right" href="javascript:void(0);">
			{{telicon "trash-x" class="iconography-large"}}
		</a>
	</div>
	<div class="row-fluid">
		{{> textFieldPartial name="firstName" index=index}}
		{{> textFieldPartial name="lastName" index=index}}
	</div>
	<div class="row-fluid">
		{{> textFieldPartial type="email" name="email" index=index}}
		{{> textFieldPartial type="password" name="password" index=index}}
	</div>
	<div class="row-fluid row-text">
		<div class="span12">
			{{#monsterCheckbox "large-checkbox" "prepend-label" i18n.accountsApp.wizard.steps.generalSettings.accountAdmins.sendMail.label}}
				<input type="checkbox" />
			{{/monsterCheckbox}}
		</div>
	</div>
</div>
