<div id="step_service_plan" class="wizard-step container-fluid">
	<div class="step-title">
		{{i18n.accountsApp.wizard.steps.servicePlan.title}}
	</div>
	<div class="step-body">
		<div class="step-section">
			<form id="form_service_plan" name="form_service_plan">
			</form>
			<div class="row-fluid row-service-plan-add">
				<div class="span6">
					<a class="service-plan-add monster-link blue" href="javascript:void(0);">
						{{telicon "plus" class="iconography-medium"}}{{i18n.accountsApp.wizard.steps.servicePlan.add}}
					</a>
				</div>
			</div>
		</div>
		<div class="step-section" id="service_plan_aggregate">
		</div>
	</div>
</div>
