{{#*inline "inputPartial"}}
	<div class="span4">
		<label for="{{../name}}">{{coalesce i18n.label name}}{{#if i18n.help}}<span data-title="{{i18n.help}}" data-toggle="tooltip">{{telicon "question--circle" class="iconography iconography-help"}}</span>{{/if}}</label>
		<input class="input-block-level" type="{{#if ../type}}{{../type}}{{else}}text{{/if}}" name="{{name}}" id="{{name}}"{{#if (coalesce i18n.placeholder i18n.label)}} placeholder="{{coalesce i18n.placeholder i18n.label}}"{{/if}}{{#if required}} required{{/if}} value="{{lookupPath @root.data name}}">
	</div>
{{/inline}}

<div id="step_account_contacts" class="wizard-step container-fluid">
	<div class="step-title">
		{{i18n.accountsApp.wizard.steps.accountContacts.title}}
	</div>
	<div class="step-body">
		<form id="form_account_contacts" name="form_account_contacts">
			<div class="step-section">
			{{#with i18n.accountsApp.wizard.steps.accountContacts as |accountContactsI18n|}}
				{{#with generalI18n as |generalI18n|}}
				<div class="section-title">
					{{../accountContactsI18n.salesRep.title}}
				</div>
				<div class="row-fluid">
					{{> inputPartial name="salesRep.fullName" required=true i18n=generalI18n.fullName}}
				</div>
				<div class="section-title">
					{{../accountContactsI18n.technicalContact.title}}
				</div>
				<div class="row-fluid">
					{{> inputPartial name="technicalContact.fullName" required=true i18n=generalI18n.fullName}}
					{{> inputPartial name="technicalContact.email" type="email" required=true i18n=generalI18n.email}}
					{{> inputPartial name="technicalContact.phoneNumber" required=true i18n=generalI18n.phoneNumber}}
				</div>
				<div class="section-title">
					{{../accountContactsI18n.billingContact.title}}
				</div>
				<div class="row-fluid">
					{{> inputPartial name="billingContact.fullName" required=true i18n=generalI18n.fullName}}
					{{> inputPartial name="billingContact.email" type="email" required=true i18n=generalI18n.email}}
					{{> inputPartial name="billingContact.phoneNumber" required=true i18n=generalI18n.phoneNumber}}
				</div>
				{{/with}}
			{{/with}}
			</div>
		</form>
	</div>
</div>
