{{#*inline "featurePartial"}}
	{{#with @root.i18n.accountsApp.wizard.steps.creditBalanceAndFeatures.controlCenterAccess.features as |featuresI18n|}}
		<li class="feature-item">
			<a class="feature-item-link" href="javascript:void(0)">
				{{#monsterCheckbox (tryI18n featuresI18n.labels ../name)}}
					<input type="checkbox" name="controlCenterAccess.features.{{../name}}"{{#if (lookup @root.data.controlCenterAccess.features ../name)}} checked{{/if}}/>
					{{telicon ../icon class="feature-icon iconography-medium"}}
				{{/monsterCheckbox}}
			</a>
			{{#monsterPanelText (tryI18n featuresI18n.labels ../name) 'info'}}
				<p>{{tryI18n featuresI18n.help ../name}}</p>
			{{/monsterPanelText}}
		{{#if ../features}}
			<ul class="features">
			{{#each ../features}}
				{{> featurePartial}}
			{{/each}}
			</ul>
		{{/if}}
		</li>
	{{/with}}
{{/inline}}

<div id="step_credit_balance_and_features" class="wizard-step">
{{#with i18n.accountsApp.wizard.steps.creditBalanceAndFeatures as |creditBalanceAndFeaturesI18n|}}
	<div class="step-title">
		{{creditBalanceAndFeaturesI18n.title}}
	</div>
	<div class="step-body">
		<form id="form_credit_balance_and_features" action="javascript:void(0);">
			<div class="section-title">
				{{creditBalanceAndFeaturesI18n.accountCredit.title}}
			</div>
			<div class="section-body flex-row-container">
				<div class="flex-item-3">
					<label for="account_credit_initial_balance">
						{{creditBalanceAndFeaturesI18n.accountCredit.labels.initialBalance}}
						<span class="help-tip" data-title="{{creditBalanceAndFeaturesI18n.accountCredit.help.initialBalance}}" data-toggle="tooltip">
							{{telicon "question--circle" class="iconography-small iconography-help"}}
						</span>
					</label>
					<div class="input-append input-block-level">
						<button class="monster-button-fit" disabled>
							{{@root.currencySymbol}}
						</button>
						<input id="account_credit_initial_balance" name="accountCredit.initialBalance" type="text" class="input-block-level" pattern="\d+(\.\d{2})?" placeholder="{{creditBalanceAndFeaturesI18n.accountCredit.placeholders.initialBalance}}" value="{{@root.data.accountCredit.initialBalance}}"/>
					</div>
				</div>
			</div>
			<div class="section-title">
				{{creditBalanceAndFeaturesI18n.controlCenterAccess.title}}
				<span class="help-tip" data-title="{{creditBalanceAndFeaturesI18n.controlCenterAccess.help}}" data-toggle="tooltip">
					{{telicon "question--circle" class="iconography-small iconography-help"}}
				</span>
			</div>
			<div class="section-body">
				<div class="flex-row-container">
					<div class="flex-item-2">
						{{creditBalanceAndFeaturesI18n.controlCenterAccess.description}}
					</div>
				</div>
				<div class="flex-row-container">
					<div class="flex-item-3">
						<ul class="features">
						{{#each @root.controlCenter.featureTree}}
							<li class="feature-category">
								{{tryI18n creditBalanceAndFeaturesI18n.controlCenterAccess.featureCategories category}}
							</li>
							{{#each features}}
								{{> featurePartial}}
							{{/each}}
						{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
{{/with}}
</div>
